@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    @{
        //ViewBag.Title = "उपस्थिती तपशील";
        ViewBag.Title = "Contact us";
    }
</head>
<div style="margin-top:3%;margin-left:4%">
    <h2>Contacting Us</h2>

    <h6>
        If you have any questions regarding the BIG V TELECOM PRIVATE LIMITED Website Security Policy,
        please contact the
        BIG V TELECOM PRIVATE LIMITED
        using the information below:
    </h6>
    <h6> Write to BIG V TELECOM PRIVATE LIMITED</h6>
</div>