
@{
    ViewBag.Title = "Citizen App | Garbage Collection Van";
}

<header class="page-header">
    <div class="container-fluid">
        @*<h2 class="no-margin-bottom">SS2020 > Citizen App > SS League 2020</h2>*@
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a class="bcumh" href="/SS20-20/CitizenAp/SSLeague2020">SS2020</a></li>
                <li class="breadcrumb-item active" aria-current="page">Citizen App</li>
            </ol>
        </nav>
        <h2>Citizen App</h2>
    </div>
</header>
<table style="display:none">
    <thead>

    </thead>
    <tr>
        <th> Umesh</th>
    </tr>

</table>
<iframe width="100%" height="600px" src="Index" frameborder="0">
    <p>Your browser does not support iframes.</p>
</iframe>
