

@{
    //ViewBag.Title = "घर नोंदणी";
    ViewBag.Title = "Registration Forms / CT / PT Registration";
}

<header class="page-header">
    <div class="container-fluid">
        @*<h2 class="no-margin-bottom">CT / PT Registration</h2>*@
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a class="bcumh" href="/CT/PT/CTPTDetails">CT/PT</a></li>
                <li class="breadcrumb-item active" aria-current="page">CT / PT Registration</li>
            </ol>
        </nav>
    </div>
</header>
<table style="display:none">
    <thead>

    </thead>
    <tr>
        <th> Umesh</th>
    </tr>

</table>
<iframe width="100%" height="600px" src="SauchalayRegistrationIndex" frameborder="0">
    <p>Your browser does not support iframes.</p>
</iframe>