
@{
    //ViewBag.Title = "झोन तपशील";
    ViewBag.Title = "Zone Details | Garbage Collection Van";
}
<header class="page-header">
    <div class="container-fluid">
        @*<h2 class="no-margin-bottom">Master Forms > Zone Details</h2>*@
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a class="bcumh" href="/MasterForms/ZoneDetails">Master Forms</a></li>
                <li class="breadcrumb-item active" aria-current="page">Zone Details</li>
            </ol>
        </nav>
        <h2>Zone Details</h2>
    </div>
</header>
<table style="display:none">
    <thead>

    </thead>
    <tr>
        <th> Umesh</th>
    </tr>

</table>
<iframe width="100%" height="600px" src="ZoneIndex" frameborder="0">
    <p>Your browser does not support iframes.</p>
</iframe>
