@{
    ViewBag.Title = "Home > About";
}


<div class="container ml-3 py-4" style="overflow:scroll;height:100vh">
    <h2 class="mb-3  mb-4"><a href="/Home/Index">Home</a> > About</h2>

    <p>
        The ABOUT US section in our website consists of all relevant information about BIG V TELECOM PRIVATE LIMITED such as the history of the emergence of BIG V TELECOM PRIVATE LIMITED, details of the Acts, details of committee members etc.
    </p>
    A mechanism is implemented in the CMS to add, check, edit or update the information of “ABOUT US” page.  However, the updated content is published only after it is reviewed by the authorized administrator.
    <p>
        The complete log report ‘Audit Trail’ is maintained in the admin section for the updating record of the contents.
    </p>
    <p>
        The contents in About Policies and GR’s section are updated when there is any alteration in the organizational structure or information. Last update date shall be shown in the footer of the website.
    </p>
</div>