@{
    ViewBag.Title = "Home / About";
}

<style>

    ol {
        padding-top: 15px;
        padding-bottom: 15px;
    }

        ol li {
            font-weight: bold;
        }

    li > p {
        font-weight: normal;
    }

    p {
        text-align: justify;
    }
 
    .about {
        padding-top:15px;
        height:100%;
    }
</style>

<div class="container ml-3 py-4" style="overflow:scroll;height:100vh">
    @*<h2 class="mb-3  mb-4"><a href="/Home/Index">Home</a> > About</h2>*@
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a class="bcumh" href="/Home/Index">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">About</li>
        </ol>
    </nav>
    <div class="about">
        <p>
            Big V Telecom Private limited is Innovation Based Technology Company which offer simpler and effective ICT Based solutions. The company has rich work experience in government sector and has worked with major companies and organizations like BSNL and Indian Railways. We are the pioneers of ICT Based Monitoring Solutions which are used by multiple Urban Local Bodies in India for monitoring for various municipal functions.
        </p>
        <p>
            Swachh Bharat Mission is one of the most important missions of Central Government. With detailed research of Swachh Bharat Mission Guidelines, we have developed unique ICT Based Mechanism for monitoring of various components of Swachh Bharat Mission. The technology developed by us is being implemented & successfully operational in multiple Urban Local Bodies in India.
        </p>
        <p>
            The ABOUT US section in our website consists of all relevant information about BIG V TELECOM PRIVATE LIMITED such as the history of the emergence of BIG V TELECOM PRIVATE LIMITED, details of the Acts, details of committee members etc.
        </p>
        A mechanism is implemented in the CMS to add, check, edit or update the information of “ABOUT US” page.  However, the updated content is published only after it is reviewed by the authorized administrator.
        <p>
            The complete log report ‘Audit Trail’ is maintained in the admin section for the updating record of the contents.
        </p>
        <p>
            The contents in About Policies and GR’s section are updated when there is any alteration in the organizational structure or information. Last update date shall be shown in the footer of the website.
        </p>
    </div>

</div>