@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    @{
        //ViewBag.Title = "उपस्थिती तपशील";
        ViewBag.Title = "Contact us | Garbage Collection Van";
    }
</head>


<style>

    .con {
        padding-top:20px;
        padding-bottom:20px;
    }
    .con h6 {
        line-height:25px;
    }
    address {
        text-align:justify;
    }
</style>
<div style="margin-top:3%;margin-left:4%">
    @*<h2 style="margin-bottom:2%"><a href="/Home/Index">Home</a> > Contacting Us</h2>*@
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a class="bcumh" href="/Home/Index">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Contact us</li>
        </ol>
    </nav>
    <h1>Contact us</h1>
    <div class="con">

        <h6>
            If you have any questions regarding the BIG V TELECOM PRIVATE LIMITED Website Security Policy,
            <br /> please contact the
            BIG V TELECOM PRIVATE LIMITED
            using the information below:
        </h6>
        <h6> Write to BIG V TELECOM PRIVATE LIMITED</h6>
        <address>
            BIG V TELECOM PRIVATE LIMITED,<br />
            203, Vishnu Vaibhav Apartment, Canal Road,<br />
            Ramdaspeth Nagpur MH 440010<br />
            Ph: 91-8260611111<br />
            Email: info@bigv.in , bigvtelecom@gmail.com
        </address>
    </div>

</div>