@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    @{
        //ViewBag.Title = "उपस्थिती तपशील";
        ViewBag.Title = "Home > Contact us";
    }
</head>
<div style="margin-top:3%;margin-left:4%">
    <h2 style="margin-bottom:2%"><a href="/Home/Index">Home</a> > Contacting Us</h2>

    <h6>
        If you have any questions regarding the BIG V TELECOM PRIVATE LIMITED Website Security Policy,
       <br /> please contact the
        BIG V TELECOM PRIVATE LIMITED
        using the information below:
    </h6>
    <h6> Write to BIG V TELECOM PRIVATE LIMITED</h6>
    <address>
        F-5, 2nd Floor, Premium Plaza,<br /> Mata Mandir Road, Khare Town,<br /> Dharampeth, Nagpur, Maharashtra 440010<br />
        Number :- 093731 00200
    </address>
</div>