<!DOCTYPE html>
<html>

<head>
    @{
        //ViewBag.Title = "उपस्थिती तपशील";
        ViewBag.Title = "Home/Help";
    }
</head>
<body>
    <div style="margin-top:3%;margin-left:4%;margin-bottom:6%"  class="table-responsive">
        <h2 style="margin-bottom:2%">
            Accessibility Help
        </h2>

        <p>Use the accessibility options provided by this Web site to control the screen display. These options allow changing the text size and contrast scheme for clear visibility and better readability.</p>

        <h6>Changing the Text Size:</h6>
        <p>
            Changing the size of the text refers to making the text appearing smaller or bigger from its standard size. There are three options provided to you to set the size of the text that affects readability.
            <br /> These are:
        </p>

        <p><b> Text Decrease:</b> Displays information in a font size smaller than the standard font size.</p>
        <p><b> Normal Text : </b>Displays information in a standard font size, which is the default size.</p>
        <p> <b>Text Increase :</b> Displays information in the larger font size.</p>

        <p> <b> Skip to Main Menu :</b> Its Go to home page fron any page.</p>

        <p>
            Plug-In: <a href="https://get.adobe.com/reader/" title="Adobe Reader">Adobe PDF Reader</a>
        </p><p>Viewing Information in Various File Formats</p>
        <p>Provides information on how to access different file formats for viewing the required information.</p>
        <table>
            <tbody>
                <tr>
                    <th scope="col">Document Type</th>
                    <th scope="col">Plug-in for Download</th>
                </tr>
                <tr>
                    <td>Portable Document Format (PDF) files</td>
                    <td>
                        <ul>
                            <li><img alt="pdf icon" src="~/Images/pdf.jpg" title="pdf logo" /><a href="http://get.adobe.com/reader/" target="_blank" title="External website that opens in a new window">Adobe Acrobat Reader (External website that opens in a new window)</a></li>
                            <li><a href="http://www.adobe.com/products/acrobat/create-pdf-creator.html" target="_blank" title="External website that opens in a new window">Convert a PDF file online into HTML or text format (External website that opens in a new window)</a></li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>Word files</td>
                    <td>
                        <ul>
                            <li><img alt="word icon" src="~/Images/word_icon.gif" title="word logo" /><a href="http://www.microsoft.com/Downloads/details.aspx?familyid=3657CE88-7CFA-457A-9AEC-F4F827F20CAC&amp;displaylang=en" target="_blank" title="External website that opens in a new window">Word Viewer (in any version till 2003) - External website that opens in a new window</a></li>
                            <li><a href="http://www.microsoft.com/downloads/details.aspx?familyid=941b3470-3ae9-4aee-8f43-c6bb74cd1466&amp;displaylang=en" target="_blank" title="External website that opens in a new window">Microsoft Office Compatibility Pack for Word (for 2007 version) - External website that opens in a new window</a></li>
                        </ul>
                    </td>
                </tr>
                <tr>
                   
                    <td>Excel files</td>
                    <td>
                        <ul>
                            <li><img alt="excel icon" src="~/Images/excel_icon.jpg" title="excel logo" /><a href="http://www.microsoft.com/downloads/details.aspx?FamilyID=c8378bf4-996c-4569-b547-75edbd03aaf0&amp;displaylang=EN" target="_blank" title="External website that opens in a new window">Excel Viewer 2003 (in any version till 2003) - External website that opens in a new window</a></li>
                            <li><a href="http://www.microsoft.com/downloads/details.aspx?familyid=941b3470-3ae9-4aee-8f43-c6bb74cd1466&amp;displaylang=en" target="_blank" title="External website that opens in a new window">Microsoft Office Compatibility Pack for Excel (for 2007 version) - External website that opens in a new window</a></li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>PowerPoint presentations</td>
                    <td>
                        <ul>
                            <li><img alt="powerpoint icon" src="~/Images/powerpoint_logo.gif" title="powerpoint logo" /><a href="http://www.microsoft.com/downloads/details.aspx?FamilyId=428D5727-43AB-4F24-90B7-A94784AF71A4&amp;displaylang=en" target="_blank" title="External website that opens in a new window">PowerPoint Viewer 2003 (in any version till 2003) - External website that opens in a new window</a></li>
                            <li><a href="http://www.microsoft.com/downloads/details.aspx?familyid=941b3470-3ae9-4aee-8f43-c6bb74cd1466&amp;displaylang=en" target="_blank" title="External website that opens in a new window">Microsoft Office Compatibility Pack for PowerPoint (for 2007 version) - External website that opens in a new window</a></li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</body>


</html>





