<!DOCTYPE html>
<html>

<head>
    @{
        //ViewBag.Title = "उपस्थिती तपशील";
        ViewBag.Title = "Help";
    }
</head>
    <body>
        <div style="margin-top:10px;margin-left:10px">
            <h2>
                Accessibility Help
            </h2>
            <h6>
                Use the accessibility options provided by this Web site to control the screen display. These options allow increasing the text size and changing the contrast scheme for clear visibility and better readability.
            </h6>
        </div>
        <ul>
            <li><b>Large: </b>Displays information in the large font size. Select large font image for increasing the text size.</li>

            <li><b> Medium:</b>Displays information in a standard font size, which is the default size. Select normal font for keeping the text size to medium.</li>
            <li><b>Small:</b>Displays information in the small font size. To decrease the text size select small font image displayed on the top of the page.</li>
        </ul>
        <div style="margin-top:10px;margin-left:10px">
            <h2>
                Changing The Contrast Scheme
            </h2>
            <h6>
                Changing the contrast scheme refers to applying a suitable background and text contrast that ensures clear readability.
                <br />
                There are two options provided to you to change the contrast scheme. These are:
            </h6>
        </div>
        <ul>
        <li><b>High contrast: </b>Displays information in the large font size. Select large font image for increasing the text size.</li>

        <li><b> Standard contrast:</b>Applies the black color as the background and suitable colors to the foreground text, to improve readability. High Contrast can be applied by selecting font high image.</li>
        <li><b>Small:</b>Displays information in the small font size. To decrease the text size select small font image displayed on the top of the page.</li>
        </ul>
    </body>
</html>