<!DOCTYPE html>
<html>

<head>
    @{
        //ViewBag.Title = "उपस्थिती तपशील";
        ViewBag.Title = "Help";
    }
</head>
    <body>
        <div style="margin-top:3%;margin-left:4%">
            <h2 style="margin-bottom:2%">
                Accessibility Help
            </h2>

            <p>Use the accessibility options provided by this Web site to control the screen display. These options allow changing the text size and contrast scheme for clear visibility and better readability.</p>

            <h6>Changing the Text Size:</h6>
            <p>
                Changing the size of the text refers to making the text appearing smaller or bigger from its standard size. There are three options provided to you to set the size of the text that affects readability.
                <br /> These are:
            </p>

            <p><b> Text Decrease:</b> Displays information in a font size smaller than the standard font size.</p>
            <p><b> Normal Text : </b>Displays information in a standard font size, which is the default size.</p>
            <p> <b>Text Increase :</b> Displays information in the larger font size.</p>

            <p> <b> Skip to Main Menu :</b> Its Go to home page fron any page.</p>
            </div>

</body>
</html>