
@{
    ViewBag.Title = "Home / Mechanism";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container ml-3 py-4 pb-5 mb-5" style="overflow: scroll;height: 100vh;">
    @*<h2 class="mb-3"><a href="/Home/Index">Home</a> > Mechanism</h2>*@
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a class="bcumh" href="/Home/Index">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Mechanism</li>
        </ol>
    </nav>
    <ol style=" padding-top: 15px; padding-bottom: 15px;">
        <li>
            <h4>		Tender/Notices/ News / Advertisements Publishing and Archive Mechanism</h4>
            <p style="text-align: justify;">
                This section has the list of all current notices issued by BIG V TELECOM PRIVATE LIMITED.
                Clicking on the title will take the visitor the detailed information of the respective notice.
                All these notices are uploaded regularly by the web manager.  However, these notices are published on the website only after the
                approval of the authorized administrator of the concerned department in BIG V TELECOM PRIVATE LIMITED.

            </p>
            <p style="text-align: justify;">
                While uploading the tender/notices details,
                the web manager uploads the tender start date, end date and the description.
                All this information is approved by the respective department of BIG V TELECOM PRIVATE LIMITED before publishing
                on the website.  The web manager also enters an expiry date of the tender/ notices as approved by the respective department.
            </p>
            <p style="text-align: justify;">
                The notices/tenders are transferred automatically
                to the Archive section after the expiry date and details is maintained in database of
                particular tender/ notice has been sent to archive.
            </p>
            <p style="text-align: justify;">
                If there is no expiry date of the circular/ notice,
                it will remain there on the website till any intimation from BIG V TELECOM PRIVATE LIMITED.
            </p>
            <p style="text-align: justify;">
                A copy of all tenders, recruitment notices, news and press release which are going to be printed or
                shown in newspaper or news media will be sent to web manager for publishing it on website.
            </p>
        </li>
        <li>
            <h4>	Mechanism for collection of Feedback</h4>
            <p style="text-align: justify;">
                Various site visitors will be able to post their feedback/complaint through feedback page of website.
                The feedback/complaints are being intimated to the department’s email Id and also an email is being
                sent to the sender of the feedback for the confirmation of the receipt of the feedback.

            </p>
            <p style="text-align: justify;">
                There is a mechanism in place where the Website Administrator has provision
                to review the feedbacks and can give reply for complaints,
                comments and request made by the visitors to their email ID.
            </p>
            <p style="text-align: justify;">
                The feedback email is sent to the respective department for responding and closure by website administrator.
                Administrator requests for the status of
                the feedback from the concerned department and mark the status accordingly with him.
            </p>
        </li>
        <li>
            <h4>	Virus Scan Mechanism</h4>
            <p style="text-align: justify;">
                To prevent the upload of Virus infected files on the server, a mechanism is in place for the check of infected files before uploading them on the server. Web Manager maintains the log for all the scans done.

            </p>
            <p style="text-align: justify;">
                Virus protection software runs on publisher’s computer and checks the files for infection before uploading. Publisher’s PC has a robust antivirus solution with all updated patches and maintains log files of all scans done.
            </p>
            <p style="text-align: justify;">
                The above system prevents all infections. If it is not possible to remove the virus, a log is generated and notifications and explanations of virus outbreaks is generated and sent to the concerned department so that future breaches can be prevented.
            </p>
            <p style="text-align: justify;">
                The above arrangements prevent the loss of information/data and software on BIG V TELECOM PRIVATE LIMITED - owned computers and website to minimize the cost of computing maintenance and network downtime by virus outbreaks.
            </p>
        </li>


    </ol>
</div>

