
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
        </style >
        </head >
        <body >
            <table>
                <tr>
                    <th> Screen Reader</th>
                    <th> Website</th>
                    <th> Free / Commercial</th>
                </tr>
               
                <tr>
                    <td> Non Visual Desktop Access (NVDA)</td>
                    <td> <a href="https://www.nvaccess.org/" target="_blank">www.nvda-project.org/</a></td>
                    <td> Free</td>
                </tr>
                <tr>
                    <td> System Access To Go</td>
                    <td><a href="https://satogo.com/en/" target="_blank"> www.satogo.com/</a></td>
                    <td> Free</td>
                </tr>
              
              
                <tr>
                    <td> Hal</td>
                    <td><a href="https://yourdolphin.com/en-gb/products/individuals/families/alternative-format" target="_blank">  www.yourdolphin.com/products?id=3</a></td>
                    <td> Commercial</td>
                </tr>


                <tr>
                    <td> JAWS</td>
                    <td><a href="https://support.freedomscientific.com/Downloads/JAWS" target="_blank">  www.freedomscientific.com/Downloads/JAWS</a></td>
                    <td> Commercial</td>
                </tr>
                <tr>
                    <td>Supernova</td>
                    <td><a href="https://yourdolphin.com/en-gb/products/individuals/supernova-magnifier-screen-reader" target="_blank">  www.yourdolphin.com/product?id=4/</a></td>
                    <td> Commercial</td>
                </tr>
                
            </table>
        </body >
        </html >
