
@{
    ViewBag.Title = "Notice and Disclosures | Garbage Collection Van";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container ml-3 py-4" style="overflow:scroll;height:100vh">
    @*<h2 class="mb-3"><a href="/Home/Index">Home</a> > Notice and Disclosures</h2>*@
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a class="bcumh" href="/Home/Index">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Notice and Disclosures</li>
        </ol>
    </nav>
    <h1>Notice and Disclosures</h1>
    <p style="padding-top:15px; padding-bottom:15px; text-align: justify;">

        BIG V TELECOM PRIVATE LIMITED will not sell, trade, nor disclose the personally identifiable information of its website users to any unauthorized third parties.
        <br />
        <span class="py-2"> Data Quality and Access  </span>   <br />
        BIG V TELECOM PRIVATE LIMITED takes all steps possible to ensure that the data on the website is accurate. If something is found to be inaccurate will make every effort to correct said information as quickly as possible. If it is found to be an inaccuracy with the entire system BIG V TELECOM PRIVATE LIMITED will work swiftly to correct the problem so that your web experience is as trouble-free as possible. Any change to your user account will not be reflected on the website until the following business day. The information contained on the BIG V TELECOM PRIVATE LIMITED website is subject to change without prior advance notice.
        <br />
        While using the BIG V TELECOM PRIVATE LIMITED website certain information such as your IP Address and time spent on pages may be collected. This non-personal information is collected in order to monitor any unauthorized use or access to the BIG V TELECOM PRIVATE LIMITED site. Anyone caught attempting to harm, steal information from, or otherwise damage the BIG V TELECOM PRIVATE LIMITED website will be prosecuted to the full extent of the law.
        <br />
        <span class="py-2">
            Data Security
        </span>   <br />
        BIG V TELECOM PRIVATE LIMITED takes security very seriously and has therefore taken every precaution to secure our borrowers information. In order to secure the user’s information, BIG V TELECOM PRIVATE LIMITED has implemented several security measures to prevent loss, theft, or misuse of any borrower data.
        <br />
        When borrowers use features on the BIG V TELECOM PRIVATE LIMITED website that involves the transferring of personal information, BIG V TELECOM PRIVATE LIMITED requires that a secure connection first be established using 128-bit Secure Socket Layer (SSL) technology. During a secure SSL session, data passed back and forth between the user's computer and BIG V TELECOM PRIVATE LIMITED STATE ‘s servers is secured through the use of public key cryptography. The user's computer exchanges key information with BIG V TELECOM PRIVATE LIMITED computers to create a private conversation that only the user's computer and BIG V TELECOM PRIVATE LIMITED systems may understand.
        <br />
        <span class="py-2">
            Each time you enter a secure connection while using the BIG V TELECOM PRIVATE LIMITED website your browser will notify you, unless the feature has been turned off. Please note that if you have left a secure connection all data sent to BIG V TELECOM PRIVATE LIMITED is over an unsecure connection.

        </span>

    </p>
</div>
