
@{
    ViewBag.Title = "Home > Responsibility and Authority";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container ml-3 py-4 pb-5 mb-5" style="overflow:scroll;height:100vh">
    <h2 class="mb-3"><a href="/Home/Index">Home</a> > Responsibility and Authority (website management team):</h2>

    <p>Web Information Manager (clause10.1.1)</p>
    <p>Appointed by the Department, whose role shall be to ensure that there is a
    proper flow of content to the site and that content quality and user satisfaction 
    issues are taken care of. To achieve this, he has to coordinate with the various groups within the department.
    The Web Information Manager should undertake the
    following activities with regards to the website being maintained by him.</p>
    <ul>
        <li>
            Formulation of policies concerning management of content on the web through its entire life cycle viz. Provision, Moderation Approval and Archival. Ensuring that all content on the website is always authentic, up-to-date and obsolete information or services removed.
        </li>
        <li>Changing and periodically validating links to related information. An automated report can provide a list of broken links on the site, which can be immediately corrected.</li>
        <li>
            Ensuring the entry of the website at a prominent rank in all the major search engines so that the site’s visibility is enhanced and users are made aware of its address.
        </li>
        <li>
            Web Information Manager is overall responsible for quality and quantity of information and services on the website. The complete contact details of the web Information manager must be displayed on the website, so that the visitor could contact him/her in case of some queries or requirements.
        </li>
        <li>
            Since the websites receive a lot of feedback mails from the visitors, it is responsibility of the Web Information Manager to either reply to all of them himself/herself or designate someone to regularly check and respond to the feedback/query mails.
        </li>
    </ul>
    <address>
        Web Information Manager:<br />
        Name: BIG V TELECOM PRIVATE LIMITED<br />
        Phone No:   +91- 9373100200<br />
        Email: Info@bigv.in

    </address>
</div>