
@{
    ViewBag.Title = "Sitemap";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container ml-3 py-4 pb-5 mb-5" style="overflow:scroll;height:100vh">
    @*<h2 class="mb-3"><a href="/Home/Index">Home</a> > Terms & Conditions</h2>*@
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a class="bcumh" href="/Home/Index">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Sitemap</li>
        </ol>
    </nav>
    <h2 class="PageHeading">Sitemap</h2>

    <div class="sitemap">
        <div class="sitemap-menu">
            <h2>Main Navigatiob</h2>
            <ul>
                <li><a href="/Home/Index">Dashboard</a></li>
                <li>
                   Attendance
                    <ul>
                        <li><a href="/Attendence/WorkersAttendanceDetails">Worker Attendance Details</a></li>
                    </ul>
                </li>
                <li>
                    Garbage Collection
                    <ul>
                        <li><a href="/GarbageCollection/HouseholdCollection">Household Collection</a></li>
                        <li><a href="/GarbageCollection/GarbagePointCollection">Garbage Point Collection</a></li>
                        <li><a href="/GarbageCollection/DumpYardTrips"> Dump Yard Trips </a></li>
                    </ul>
                </li>
                <li>
                    Work Summary
                    <ul>
                        <li><a href="/WorkSummary/EmployeeWorkSummary" >Employee Work Summary </a></li>
                        <li><a href="/WorkSummary/EmployeeIdleTime" >Employee Idle Time </a></li>
                    </ul>
                </li>
                <li>
                    Complaint
                    <ul>
                        <li><a href="/Complaint/CleanlinessComplaints" >Cleanliness Complaints</a></li>
                    </ul>
                </li>
                <li>
                    CT / PT
                    <ul>
                        <li><a href="/CT/PT/CTPTDetails"> CTPT Details</a></li>
                    </ul>
                </li>
                <li>
                    Location (On Map)
                    <ul>
                        <li><a href="/Location(OnMap)/LocationDetails" >Location Details</a></li>
                        <li><a href="/Location(OnMap)/OnMapLocation" >On Map Location</a></li>
                        <li><a href="/Location(OnMap)/HouseonMap" >House on Map</a></li>
                    </ul>
                </li>
                <li>
                    Registration Forms
                    <ul>
                        <li><a href="/RegistrationForms/HouseRegistration">House Registration </a></li>
                        <li><a href="/RegistrationForms/GarbagePointRegistration">Garbage Point Registration </a></li>
                        <li><a href="/RegistrationForms/DumpYardRegistration">Dump Yard Registration </a></li>
                        <li><a href="/RegistrationForms/EmployeeRegistration">Employee Registration  </a></li>
                        <li><a href="/RegistrationForms/CT/PTRegistration" >CT / PT Registration  </a></li>
                    </ul>
                </li>
                <li>
                    Reports
                    <ul>
                        <li><a href="/Report/HouseholdCollectionReport(Pattern-wise)">Household Collection Report (Pattern-wise)</a></li>
                        <li><a href="/Report/GarbageCollection(Employee-wise)">Garbage Collection (Employee-wise)</a></li>
                        <li><a href="/Report/GarbageCollection(Percentage-Wise)"> Garbage Collection (Percentage-Wise)</a></li>
                        <li><a href="/Report/EmployeeWiseCollection(Chart-Pattern)"> Employee Wise Collection (Chart-Pattern) </a></li>
                        <li><a href="/Report/GarbageCollection(Date-wise)"> Garbage Collection (Date-wise) </a></li>
                        <li><a href="/Report/GarbageCollection(Ward-Wise)"> Garbage Collection (Ward-Wise)</a></li>
                        <li><a href="/Report/GarbageCollection(EntireCity)">Garbage Collection (Entire City)</a></li>
                        <li><a href="/Report/GarbagePattern(Area-wise)">Garbage Pattern (Area-wise)</a></li>
                        <li><a href="/Report/GarbageCollectionDashboard">Garbage Collection Dashboard</a></li>
                        <li><a href="/Report/DumpyardDetails">Dumpyard Details</a></li>
                        <li><a href="/Report/GarbageCollectionSummary(House-wise)">Garbage Collection Summary (House-wise)</a></li>
                        <li><a href="/Report/Day-wiseCollectionSummary">Day-wise Collection Summary </a></li>
                        <li><a href="/Report/EmployeeCollectionAverage">Employee Collection Average</a></li>
                    </ul>
                </li>
                <li>
                    Master Forms
                    <ul>
                        <li><a href="/MasterForms/ZoneDetails"> Zone Details</a></li>
                        <li><a href="/MasterForms/Ward/PrabhagDetails">Ward / Prabhag Details</a></li>
                        <li><a href="/MasterForms/AreaDetails"> Area Details</a></li>
                        <li><a href="/MasterForms/VehicleTypeDetails">Vehicle Type Details</a></li>
                    </ul>
                </li>
                <li>
                    SS 20-20
                    <ul>
                        <li><a href="/Report/OnePointOne2020">1.1</a></li>
                        <li><a href="/Report/OnePointTwo2020">1.2</a></li>
                        <li><a href="/Report/OnePointThree2020">1.3</a></li>
                        <li><a href="/SS20-20/CitizenAp/SSLeague2020">Citizen App</a></li>
                        <li><a onclick="myconfirmyocc()" style="color: #fe9436;">YOCC-Feedback</a></li>
                        <li><a onclick="myconfirmyocc()" style="color: #fe9436;">YOCC-DND</a></li>
                    </ul>
                </li>
                <li>
                    Infotainment
                    <ul>
                        <li><a href="/Infotainment/CleanlinessGame" class="hover"> CleanlinessGame</a></li>
                    </ul>
                </li>
                <li>
                    About us
                    <ul>
                        <li><a href="/Home/Organisationstructure" class="hover"> Organisation Structure</a></li>
                        <li><a href="/Home/who" class="hover" > Who's Who</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        
        <div class="sitemap-menu">
            <h2>Footer Menu</h2>
            <ul>
             
                <li><a href="/Home/WebsitePolicies">Website Policies</a></li>
                <li><a href="/Home/Notice_Disclosures">Notice and Disclosures</a></li>
                <li><a href="/Home/ContactUs">Contact Us</a></li>
                <li><a href="/Home/About">About Us</a></li>
                <li><a href="/Home/Help">Help</a></li>
                <li><a href="/Home/Validation_TestingProcess">Validation & Testing Process</a></li>
                <li><a href="/Home/Mechanism">Mechanism</a></li>
                <li><a href="/Home/Responsibility_Authority">Responsibility and Authority </a></li>
                <li><a href="/Home/Terms_Conditions">Terms & Conditions</a></li>
                <li><a href="/Home/FeedBack">FeedBack</a></li>
                <li><a href="/Home/Sitemap">Sitemap</a></li>
            </ul>
        </div>
    </div>
   

</div>

