
@{
    ViewBag.Title = "Sitemap | Garbage Collection Van";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    .searchan {
        color: #803C00 !important;
    }
</style>
<div class="container ml-3 py-4 pb-5 mb-5" style="overflow:scroll;height:100vh">
    @*<h2 class="mb-3"><a href="/Home/Index">Home</a> > Terms & Conditions</h2>*@
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a class="bcumh" href="/Home/Index">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Sitemap</li>
        </ol>
    </nav>
    <h2 class="PageHeading">Sitemap</h2>

    <div class="sitemap">
        <div class="sitemap-menu">
            <h2>Main Navigatiob</h2>
            <ul>
                <li><a href="/Home/Index" class="searchan">Dashboard</a></li>
                <li>
                   Attendance
                    <ul>
                        <li><a href="/Attendence/WorkersAttendanceDetails" class="searchan">Worker Attendance Details</a></li>
                    </ul>
                </li>
                <li>
                    Garbage Collection
                    <ul>
                        <li><a href="/GarbageCollection/HouseholdCollection" class="searchan">Household Collection</a></li>
                        <li><a href="/GarbageCollection/GarbagePointCollection" class="searchan">Garbage Point Collection</a></li>
                        <li><a href="/GarbageCollection/DumpYardTrips" class="searchan"> Dump Yard Trips </a></li>
                    </ul>
                </li>
                <li>
                    Work Summary
                    <ul>
                        <li><a href="/WorkSummary/EmployeeWorkSummary" class="searchan">Employee Work Summary </a></li>
                        <li><a href="/WorkSummary/EmployeeIdleTime" class="searchan">Employee Idle Time </a></li>
                    </ul>
                </li>
                <li>
                    Complaint
                    <ul>
                        <li><a href="/Complaint/CleanlinessComplaints" class="searchan">Cleanliness Complaints</a></li>
                    </ul>
                </li>
                <li>
                    CT / PT
                    <ul>
                        <li><a href="/CT/PT/CTPTDetails" class="searchan"> CTPT Details</a></li>
                    </ul>
                </li>
                <li>
                    Location (On Map)
                    <ul>
                        <li><a href="/Location(OnMap)/LocationDetails" class="searchan">Location Details</a></li>
                        <li><a href="/Location(OnMap)/OnMapLocation" class="searchan">On Map Location</a></li>
                        <li><a href="/Location(OnMap)/HouseonMap" class="searchan">House on Map</a></li>
                    </ul>
                </li>
                <li>
                    Registration Forms
                    <ul>
                        <li><a href="/RegistrationForms/HouseRegistration" class="searchan">House Registration </a></li>
                        <li><a href="/RegistrationForms/GarbagePointRegistration" class="searchan">Garbage Point Registration </a></li>
                        <li><a href="/RegistrationForms/DumpYardRegistration" class="searchan">Dump Yard Registration </a></li>
                        <li><a href="/RegistrationForms/EmployeeRegistration" class="searchan">Employee Registration  </a></li>
                        <li><a href="/RegistrationForms/CT/PTRegistration" class="searchan">CT / PT Registration  </a></li>
                    </ul>
                </li>
                <li>
                    Reports
                    <ul>
                        <li><a href="/Report/HouseholdCollectionReport(Pattern-wise)" class="searchan">Household Collection Report (Pattern-wise)</a></li>
                        <li><a href="/Report/GarbageCollection(Employee-wise)" class="searchan">Garbage Collection (Employee-wise)</a></li>
                        <li><a href="/Report/GarbageCollection(Percentage-Wise)" class="searchan"> Garbage Collection (Percentage-Wise)</a></li>
                        <li><a href="/Report/EmployeeWiseCollection(Chart-Pattern)" class="searchan"> Employee Wise Collection (Chart-Pattern) </a></li>
                        <li><a href="/Report/GarbageCollection(Date-wise)" class="searchan"> Garbage Collection (Date-wise) </a></li>
                        <li><a href="/Report/GarbageCollection(Ward-Wise)" class="searchan"> Garbage Collection (Ward-Wise)</a></li>
                        <li><a href="/Report/GarbageCollection(EntireCity)" class="searchan">Garbage Collection (Entire City)</a></li>
                        <li><a href="/Report/GarbagePattern(Area-wise)" class="searchan">Garbage Pattern (Area-wise)</a></li>
                        <li><a href="/Report/GarbageCollectionDashboard" class="searchan">Garbage Collection Dashboard</a></li>
                        <li><a href="/Report/DumpyardDetails"  class="searchan">Dumpyard Details</a></li>
                        <li><a href="/Report/GarbageCollectionSummary(House-wise)" class="searchan">Garbage Collection Summary (House-wise)</a></li>
                        <li><a href="/Report/Day-wiseCollectionSummary" class="searchan">Day-wise Collection Summary </a></li>
                        <li><a href="/Report/EmployeeCollectionAverage" class="searchan">Employee Collection Average</a></li>
                    </ul>
                </li>
                <li>
                    Master Forms
                    <ul>
                        <li><a href="/MasterForms/ZoneDetails" class="searchan"> Zone Details</a></li>
                        <li><a href="/MasterForms/Ward/PrabhagDetails" class="searchan">Ward / Prabhag Details</a></li>
                        <li><a href="/MasterForms/AreaDetails" class="searchan"> Area Details</a></li>
                        <li><a href="/MasterForms/VehicleTypeDetails" class="searchan">Vehicle Type Details</a></li>
                    </ul>
                </li>
                <li>
                    SS 20-20
                    <ul>
                        <li><a href="/Report/OnePointOne2020" class="searchan">1.1</a></li>
                        <li><a href="/Report/OnePointTwo2020" class="searchan">1.2</a></li>
                        <li><a href="/Report/OnePointThree2020" class="searchan">1.3</a></li>
                        <li><a href="/SS20-20/CitizenAp/SSLeague2020" class="searchan">Citizen App</a></li>
                        <li><a onclick="myconfirmyocc()"  class="searchan">YOCC-Feedback</a></li>
                        <li><a onclick="myconfirmyocc()"  class="searchan">YOCC-DND</a></li>
                    </ul>
                </li>
                <li>
                    Infotainment
                    <ul>
                        <li><a href="/Infotainment/CleanlinessGame"  class="searchan"> CleanlinessGame</a></li>
                    </ul>
                </li>
                <li>
                    About us
                    <ul>
                        <li><a href="/Home/Organisationstructure"  class="searchan"> Organisation Structure</a></li>
                        <li><a href="/Home/who"  class="searchan" > Who's Who</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        
        <div class="sitemap-menu">
            <h2>Footer Menu</h2>
            <ul>
             
                <li><a href="/Home/WebsitePolicies" class="searchan">Website Policies</a></li>
                <li><a href="/Home/Notice_Disclosures" class="searchan">Notice and Disclosures</a></li>
                <li><a href="/Home/ContactUs" class="searchan">Contact Us</a></li>
                <li><a href="/Home/About" class="searchan">About Us</a></li>
                <li><a href="/Home/Help" class="searchan">Help</a></li>
                <li><a href="/Home/Validation_TestingProcess" class="searchan">Validation & Testing Process</a></li>
                <li><a href="/Home/Mechanism" class="searchan">Mechanism</a></li>
                <li><a href="/Home/Responsibility_Authority" class="searchan">Responsibility and Authority </a></li>
                <li><a href="/Home/Terms_Conditions" class="searchan">Terms & Conditions</a></li>
                <li><a href="/Home/FeedBack" class="searchan">FeedBack</a></li>
                <li><a href="/Home/Sitemap" class="searchan">Sitemap</a></li>
            </ul>
        </div>
    </div>
   

</div>

