
@{
    ViewBag.Title = "Home / Terms & Conditions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container ml-3 py-4 pb-5 mb-5" style="overflow:scroll;height:100vh">
    @*<h2 class="mb-3"><a href="/Home/Index">Home</a> > Terms & Conditions</h2>*@
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a class="bcumh" href="/Home/Index">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Terms & Conditions</li>
        </ol>
    </nav>

    <p style="padding-top:15px;">These terms of use describe your rights and responsibilities as a user of BIG V TELECOM PRIVATE LIMITED. To have a BIG V TELECOM PRIVATE LIMITED website account, you must accept these terms of use.</p>
    <p>
        BIG V TELECOM PRIVATE LIMITED, reserves the right to make changes & delegate the powers to change to BIG V TELECOM PRIVATE LIMITED website and these terms of use at any time. If those changes affect your rights or responsibilities, you will be notified through BIG V TELECOM PRIVATE LIMITED.
    </p>
    <p>The following Terms & Conditions come into effect as soon as you have accepted it.</p>
    <ul>
        <li>
            As a user of BIG V TELECOM PRIVATE LIMITED website you are granted a non-exclusive, non-transferable, revocable, limited license to access and use BIG V TELECOM PRIVATE LIMITED, website and content in accordance with these Terms of Use.
        </li>
        <li>Provider may terminate this license at any time for any reason.
        <li>
            BIG V TELECOM PRIVATE LIMITED, website designed by BIG V TELECOM PRIVATE LIMITED, Contents provided by the various Organisation, BIG V TELECOM PRIVATE LIMITED.
        </li>
        <li>
            Though all efforts have been made to ensure the accuracy and currency of the content on BIG V TELECOM PRIVATE LIMITED website, the same should not be construed as a statement of law or used for any legal purposes.
        </li>

    </ul>

</div>
