
@{
    ViewBag.Title = "Home / Validation & Testing Process";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    p {
        padding-top: 15px;
        padding-bottom: 15px;
        text-align: justify;
    }
</style>
<div class="container ml-3 py-4 pb-5 mb-5" style="overflow:scroll;height:100vh">
    @*<h2 class="mb-3"><a href="/Home/Index">Home</a> > Validation & Testing Process</h2>*@
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a class="bcumh" href="/Home/Index">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Validation & Testing Process</li>
        </ol>
    </nav>
    <p>

        BIG V TELECOM PRIVATE LIMITED – BIG V TELECOM PRIVATE LIMITED website is tested regularly manually and through automated testing tools by the Technical Manager for the following parameters.
        <br />
        <span class="py-2"> Quality Testing </span>   <br />
        BIG V TELECOM PRIVATE LIMITED takes all steps possible to ensure that the data on the website is accurate. If something is found to be inaccurate will make every effort to correct said information as quickly as possible. If it is found to be an inaccuracy with the entire system BIG V TELECOM PRIVATE LIMITED will work swiftly to correct the problem so that your web experience is as trouble-free as possible. Any change to your user account will not be reflected on the website until the following business day. The information contained on the BIG V TELECOM PRIVATE LIMITED website is subject to change without prior advance notice.
        <br />


    </p>
    <p>

        Broken Links

    </p>
    <ul>
        <li>
            Frequency: As a when the changes are made in Website.
        </li>
        <li>
            Process: BIG V TELECOM PRIVATE LIMITED – BIG V TELECOM PRIVATE LIMITED website is monitored for broken links manually as a when the changes are made in Website.
        </li>
        <li>
            Action taken: The reviewer sends a list of broken links to the quality manager who rectifies them personally.
        </li>
        <li>
            Tools Used: Xenu Tool.
        </li>
    </ul>
    <p>

        Spelling Errors

    </p>
    <ul>
        <li>
            Frequency: As a when data is changed.
        </li>
        <li>
            Process: By the QM. It is the responsibility of the Quality Manager to get the spelling mistakes rectified from the concerned person depending on whether the mistake is in the static or dynamic portion of content.
        </li>
        <li>
            Action taken: The Quality Manager sends a mail to the concerned person who rectifies the mistake and responds back to the Quality Manager
        </li>
        <li>
            Tools Used: Manually
        </li>
    </ul>
    <p>

        Metadata
    </p>
    <ul>
        <li>
            Frequency: As a when data is changed.
        </li>
        <li>
            Process: Based on the web analyzer tool reports the pages are checked for proper keywords by the Quality Manager
        </li>
        <li>
            Action taken: The Quality Manager modifies the metadata if required
        </li>
        <li>
            Tools Used: Accessibility Testing
        </li>
    </ul>
    <p>

        Functionality Testing
    </p>
    <ul>
        <li>
            Frequency: As a when data is changed.
        </li>
        <li>
            Process: Interactive components like forms etc. are regularly tested for functionality issues
        </li>
        <li>
            Action taken: The Quality Manager informs concerned person through mail in case of any problem and receives a confirmation mail on rectification of the same.
        </li>
        <li>
            Tools Used: Manually
        </li>
    </ul>
</div>
