
@{
    ViewBag.Title = "Home > Website Policies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    ol li {
        font-weight: bold;
    }

    li > p {
        font-weight: normal;
    }
</style>
<div class="container ml-3 pb-5" style="overflow:scroll;height:100vh">
    <h2 class="mt-3 mb-4"><a href="/Home/Index">Home</a> > Website Policies</h2>
    <ol>
        <li>
            <h4>	Hyper linking Policy Links to external websites/portals:</h4>
            <p>
                At many places in this BIG V TELECOM PRIVATE LIMITED, you shall find links to other websites / BIG V TELECOM PRIVATE LIMITED. These links have been placed for your convenience. BIG V TELECOM PRIVATE LIMITED is not responsible for the contents and reliability of the linked websites and does not necessarily endorse the views expressed in them. Mere presence of the link or its listing on this website should not be assumed as endorsement of any kind. We cannot guarantee that these links will work all the time and we have no control over availability of linked pages.
                <br />Links to BIG V TELECOM PRIVATE LIMITED
                <br />Website by other websites:
                <br /> We do not object to you linking directly to the information that is hosted on BIG V TELECOM PRIVATE LIMITED and no prior permission is required for the same. However, we would like you to inform us about any links provided to this BIG V TELECOM PRIVATE LIMITED so that you can be informed of any changes or updates therein. Also, we do not permit our pages to be loaded into frames on your site. The pages belonging to this BIG V TELECOM PRIVATE LIMITED must load into a newly opened browser window of the User. For more details and banners to link to our Portal visit our Link to Us Section.


            </p>
        </li>
        <li>
            <h4>		Privacy policy</h4>
            <p>
                BIG V TELECOM PRIVATE LIMITED website does not automatically capture any specific personal information from you,
                (like name, phone number or e-mail address), that allows us to identify you individually. If the BIG V TELECOM PRIVATE
                LIMITED website requests you to provide personal information, you will be informed for the particular purposes for which
                the information is gathered and adequate security measures will be taken to protect your personal information. We do not
                sell or share any personally identifiable information volunteered on the BIG V TELECOM PRIVATE LIMITED website to any
                third party (public/private). Any information provided to this BIG V TELECOM PRIVATE LIMITED will be protected from loss,
                misuse, unauthorized access or disclosure, alteration, or destruction. We gather certain information about the User, such
                as Internet protocol (IP) addresses, domain name, browser type, operating system, the date and time of the visit and the
                pages visited. We make no attempt to link these addresses with the identity of individuals visiting our site unless an
                attempt to damage the site has been detected.

            </p>
        </li>
        <li>
            <h4>	Content ownership, moderation & approval policy</h4>
            <p>
                BIG V TELECOM PRIVATE LIMITED has a mechanism stating the responsibility, authorization and workflow details with regard to content publishing on the site.

                <br />Audit trail of content entering, approval and publishing of each content is being maintained showing who approved and when.
                <br />The Website of BIG V TELECOM PRIVATE LIMITED presents a single department where most content is contributed by a single set of sources. We here by adopt a 2-tiered structure to implement CMAP requiring minimum 2 officials to execute the CMAP roles, viz.
                <br /> 1.	Contributor
                <br /> 2.	Moderator/Approver/Publisher

                <br /> **Note: Currently, an approved copy of the content is received by the publisher through email and the same is published on the website.



            </p>
        </li>
        <li>
            <h4>	Content review policy</h4>
            <p>
                The contents are reviewed as when required by the department/Division and the revised content is published through CMS as per COMAP.


            </p>
        </li>
        <li>
            <h4>	5.	Content Archival Policy</h4>
            <p>
                The latest news and spotlight items will be archived automatically after entering end date from the date of their publishing.



                <br />All news/ tenders/ notices /announcements /press releases are archived after the given expiry date.  The expiry date is entered by the web manager while entering the details with due approval from the respective department.
                <br />The Website of BIG V TELECOM PRIVATE LIMITED presents a single department where most content is contributed by a single set of sources. We here by adopt a 2-tiered structure to implement CMAP requiring minimum 2 officials to execute the CMAP roles, viz.
                <br /> Any item from Archives will be taken off only after the approval of web information manager or concern authority (written communication through email). Such items, though not visible in archive, remain in the CMS database and can be accessed from Database if required.
              


            </p>
        </li>
        <li>
            <h4>	Website Monitoring Policy</h4>
            <p>
                Website Monitoring Policy in place and the website is monitored periodically to address and fix the quality and compatibility issues around the following parameters:

                <br />Performance: Site download time is optimized for a variety of network connections as well as devices. All-important pages of the website are tested for this.
                <br />Functionality: All modules of the website are tested for their functionality. The interactive components of the site such as, feedback forms are working smoothly.
                <br /> Broken Links: The website is thoroughly reviewed to rule out the presence of any broken links or errors.
                <br /> Traffic Analysis: The site traffic is monitored to analyses the usage patterns as well as visitors.

                <br /> Feedback: Feedback from the visitors is the best way to judge a website’s performance and make necessary improvements. A proper mechanism for feedback is in place to carry out the changes and enhancements as suggested by the visitors.

                <br /> The Hosting Service Provider possesses state-of-the art multi-tier security infrastructure as well as devices such as firewall and intrusion prevention systems.



            </p>
        </li>
        <li>
            <h4>Security policy</h4>
            <p>
                A. Website Security Policy of
                BIG V TELECOM PRIVATE LIMITED

                <br />B.	BIG V TELECOM PRIVATE LIMITED has a responsibility to protect from disclosure to
                unauthorized parties the personally identifiable information (name, address, date of birth, social security number, etc.)
                of its website users. Therefore, BIG V TELECOM PRIVATE LIMITED has adopted and implemented a website security policy to
                protect account information of its website users





            </p>
        </li>
    </ol>
</div>
