
@{
    //ViewBag.Title = "निष्क्रिय वेळ / Idle time";
    ViewBag.Title = "Employee Idle Time | Garbage Collection Van";
}

<header class="page-header">
    <div class="container-fluid">
        @*<h2 class="no-margin-bottom">Work Summary > Employee Idle Time </h2>*@

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a class="bcumh" href="/WorkSummary/EmployeeWorkSummary">Work Summary</a></li>
                <li class="breadcrumb-item active" aria-current="page">Employee Idle Time</li>
            </ol>
        </nav>
        <h2>Employee Idle Time</h2>
    </div>
</header>
<table style="display:none">
    <thead>

    </thead>
    <tr>
        <th> Umesh</th>
    </tr>

</table>
<iframe width="100%" height="600px" src="Idealtime" frameborder="0">
    <p>Your browser does not support iframes.</p>
</iframe>