
@{
    //ViewBag.Title = "कचरा पॉईंट संकलन तपशील";
    ViewBag.Title = "Garbage Collection / Garbage point collection";

}
<header class="page-header">
    <div class="container-fluid">
        @*<h2 class="no-margin-bottom">Garbage Collection > Garbage Point Collection</h2>*@
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a class="bcumh" href="/GarbageCollection/HouseholdCollection">Garbage Collection</a></li>
                <li class="breadcrumb-item active" aria-current="page">Garbage Point Collection</li>
            </ol>
        </nav>
    </div>
</header>
<table style="display:none">
    <thead>

    </thead>
    <tr>
        <th> Umesh</th>
    </tr>

</table>
<iframe width="100%" height="600px" src="PointGarbageIndex" frameborder="0">
    <p>Your browser does not support iframes.</p>
</iframe>